.custom-checkbox {
  position: relative;

  &__field {
    appearance: none;
    position: absolute;
  }

  &__content {
    padding-left: 28px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--color-primary);
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      border: 1px solid var(--color-neutral-muted);
      width: 20px;
      height: 20px;
      box-sizing: border-box;
      background-color: var(--color-surface-default);
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 20px;
      height: 20px;
      box-sizing: border-box;
      background-image: url("../img/check.svg");
      background-position: center;
      background-size: 12px 12px;
      background-repeat: no-repeat;
      background-color: var(--color-accent);
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    a {
      text-decoration: underline;
      color: var(--color-accent);
      transition: color 0.3s ease-in-out, text-decoration-color 0.3s ease-in-out;
      text-decoration-skip-ink: none;

      &:focus {
        outline: none;
      }

      &:focus-visible {
        outline: 2px dashed currentcolor;
        outline-offset: 3px;
      }

      @include hover {
        text-decoration-color: transparent;
      }

      &:active {
        color: var(--color-accent-active);
      }
    }

    @include mobile {
      display: inline-block;
    }
  }
}

.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px dashed var(--color-accent);
  outline-offset: -2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}
