.custom-select {
  position: relative;
  z-index: 6;

  &__btn {
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--color-primary);
    transition: color 0.3s ease-in-out;
    gap: 12px;

    svg {
      display: block;
      width: 16px;
      height: 16px;
      fill: currentcolor;
      object-fit: cover;

      @include mobile {
        width: 12px;
        height: 12px;
      }
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px dashed var(--color-primary);
    }

    @include hover {
      color: var(--color-accent);
    }

    &:active {
      color: var(--color-accent-active);
    }

    @include mobile {
      font-size: 12px;
    }
  }

  &__dropdown {
    position: absolute;
    right: 0;
    top: calc(100% + 8px);
    border-radius: 4px;
    padding: 12px 0;
    width: 325px;
    box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.15);
    background: var(--color-surface-default);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

    &--visible {
      opacity: 1;
      visibility: visible;
    }

    @include mobile {
      padding: 4px 0;
      width: 260px;
    }
  }

  &__choose {
    padding: 8px 20px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: left;
    color: var(--color-primary);

    &--active {
      background: var(--color-neutral-muted);
    }

    @include mobile {
      padding: 8px 12px;
      font-size: 12px;
    }
  }
}
