.mini-cart-product {
  position: relative;
  border: 1px solid var(--color-neutral-muted);
  padding: 8px;
  background: var(--color-surface-default);

  &__top {
    display: flex;
    align-items: flex-start;
  }

  &__image {
    flex-shrink: 0;
    margin-right: 16px;
  }

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    text-transform: uppercase;
    color: var(--color-primary);
  }

  &__link {
    color: inherit;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
    }

    transition: color 0.3s ease-in-out;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px dashed var(--color-primary);
    }

    @include hover {
      color: var(--color-accent);
    }

    &:active {
      color: var(--color-accent-active);
    }
  }

  &__delete {
    position: relative;
    z-index: 4;
    margin-left: auto;
    width: 16px;
    height: 16px;
    color: var(--color-secondary);

    svg {
      fill: currentcolor;
    }

    transition: color 0.3s ease-in-out;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px dashed currentcolor;
      outline-offset: -1px;
    }

    @include hover {
      color: var(--color-accent);
    }

    &:active {
      color: var(--color-accent-active);
    }
  }

  &__stepper {
    position: relative;
    z-index: 4;
  }

  &__bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 16px;
  }

  &__price {
    font-weight: 500;
    font-size: 12px;
    line-height: 120%;
    text-transform: uppercase;
    color: var(--color-primary);
  }
}
