.product-testimonials {
  border-top: 1px solid var(--color-neutral-muted);
  padding-bottom: 100px;

  &__left {
    grid-column: 3 span;
    border-right: 1px solid var(--color-neutral-muted);
    padding-top: var(--gap);
    padding-right: var(--gap);

    @include very-big-desktop {
      grid-column: 4 span;
    }

    @include tablet {
      grid-column: 12 span;
      border-right: none;
      border-bottom: 1px solid var(--color-neutral-muted);
      padding-right: 0;
      padding-bottom: var(--gap);
    }

    @include mobile {
      padding-top: 22px;
      padding-bottom: 24px;
    }
  }

  &__right {
    grid-column: 9 span;
    padding-top: var(--gap);

    @include very-big-desktop {
      grid-column: 8 span;
    }

    @include tablet {
      grid-column: 12 span;
    }

    @include mobile {
      padding-top: 10px;
    }
  }

  &__rating {
    display: flex;
    align-items: center;
    margin-bottom: var(--gap);
    gap: 8px;

    &-value {
      padding-left: 24px;
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 36px;
      line-height: 120%;
      text-transform: uppercase;
      color: var(--color-accent);
      background-image: url("../img/star.svg");
      background-position: left center;
      background-size: 16px 16px;
      background-repeat: no-repeat;
    }

    &-testimonials {
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: var(--color-secondary);
    }

    @include mobile {
      margin-bottom: 16px;
    }
  }

  &__rating-bars {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__rating-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--color-primary);

    @include very-big-desktop {
      font-size: 12px;
    }

    @include mobile {
      font-size: 16px;
    }
  }

  &__rating-bar {
    position: relative;
    width: 100%;
    height: 12px;
    max-width: 343px;
    background: var(--color-neutral-muted);

    @include very-big-desktop {
      max-width: 200px;
    }

    @include tablet {
      max-width: 80%;
    }

    @include mobile {
      max-width: 200px;
    }
  }

  &__rating-value-bar {
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 100%;
    background-color: var(--color-primary);
  }

  &__add {
    margin-top: 22px;
    width: 100%;

    @include mobile {
      margin-top: 16px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: var(--gap);
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 32px;
    line-height: 120%;
    text-transform: uppercase;
    color: var(--color-primary);

    @include mobile {
      margin-bottom: 17px;
      font-size: 24px;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: var(--gap);

    @include mobile {
      gap: 16px;
    }
  }

  @include mobile {
    border-top: none;
    padding-bottom: 34px;
  }
}
