.products-tabs {
  --elems: 3;

  display: flex;
  align-items: center;
  padding: 8px;
  gap: var(--gap);

  &__item {
    width: calc((100% - ((var(--elems) - 1) * var(--gap))) / (var(--elems)));

    @include mobile {
      width: auto;
    }
  }

  &__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 20px 40px;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    line-height: 122%;
    text-align: center;
    text-transform: uppercase;
    color: var(--color-primary);
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    gap: 4px;

    &-quantity {
      font-weight: 400;
      font-size: 12px;
      color: var(--color-secondary);
      transition: color 0.3s ease-in-out;
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 2px dashed var(--color-primary);
      outline-offset: 3px;
    }

    @include hover {
      color: var(--color-surface-default);
      background-color: var(--color-primary);

      .products-tabs__btn-quantity {
        color: var(--color-surface-default);
      }
    }

    &:active {
      color: var(--color-surface-default);
      background-color: var(--color-primary-active);

      .products-tabs__btn-quantity {
        color: var(--color-surface-default);
      }
    }

    &--active {
      color: var(--color-surface-default);
      background-color: var(--color-primary);
      pointer-events: none;

      .products-tabs__btn-quantity {
        color: var(--color-surface-default);
      }
    }

    @include big-desktop {
      padding: 20px 24px;
    }

    @include mobile {
      border: 1px solid var(--color-neutral-muted);
      padding: 15px 20px;
      font-size: 12px;
      line-height: 130%;

      &-quantity {
        font-size: 8px;
        line-height: 130%;
      }

      &--active {
        border-color: var(--color-primary);
      }
    }
  }

  @include mobile {
    flex-wrap: wrap;
    padding: 0;
  }
}
