.to-top {
  position: fixed;
  right: 44px;
  bottom: 44px;
  z-index: 50;
  border-radius: 4px;
  padding: 4px;
  width: 32px;
  height: 32px;
  box-shadow: 4px 4px 20px 0 rgba(0, 0, 0, 0.15);
  color: var(--color-primary);
  background: var(--color-surface-default);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &--visible {
    opacity: 1;
    visibility: visible;
  }

  svg {
    fill: currentcolor;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: 2px dashed var(--color-accent);
    outline-offset: 3px;
  }

  @include hover {
    color: var(--color-surface-default);
    background-color: var(--color-accent);
  }

  &:active {
    color: var(--color-surface-default);
    background-color: var(--color-accent-active);
  }

  @include tablet {
    right: 16px;
    bottom: 72px;
    padding: 4px;
    width: 28px;
    height: 28px;
  }
}
