<section class="cart-content">
  <h2 class="visually-hidden">Корзина товаров</h2>
  <div class="cart-content__top">
    <div class="container">
      <div class="cart-content__inner grid">
        <div class="cart-content__cell cart-content__cell--1">
          <div class="cart-content__th">Фото</div>
        </div>
        <div class="cart-content__cell cart-content__cell--2">
          <div class="cart-content__th">Название</div>
        </div>
        <div class="cart-content__cell cart-content__cell--3">
          <div class="cart-content__th">Цена</div>
        </div>
        <div class="cart-content__cell cart-content__cell--4">
          <div class="cart-content__th">Кол-во</div>
        </div>
        <div class="cart-content__cell cart-content__cell--5">
          <div class="cart-content__th cart-content__th--right">Сумма</div>
        </div>
      </div>
    </div>
  </div>
  <div class="cart-content__table">
    <div class="cart-content__row">
      <div class="container">
        <div class="cart-content__inner grid">
          <div class="cart-content__cell cart-content__cell--1">
            <picture>
              <source srcset="img/products/1-cart.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/products/1-cart.png"
                class="cart-content__image"
                width="200"
                height="200"
                alt="Neumann TLM 102 BK"
              />
            </picture>
          </div>
          <div class="cart-content__cell cart-content__cell--2">
            <h3 class="cart-content__subtitle">Neumann TLM 102 BK</h3>
            <div class="stepper cart-content__stepper cart-content__stepper--mob">
              <button class="btn-reset stepper__minus" aria-label="Уменьшить">
                <svg class="icon">
                  <use xlink:href="img/sprite.svg#minus"></use>
                </svg>
              </button>
              <input
                type="number"
                class="input-reset stepper__input"
                value="1"
                maxlength="2"
              />
              <button class="btn-reset stepper__plus" aria-label="Увеличить">
                <svg class="icon">
                  <use xlink:href="img/sprite.svg#plus"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="cart-content__cell cart-content__cell--3">
            <div class="cart-content__caption">цена</div>
            <div class="cart-content__price">91 890 ₽</div>
          </div>
          <div class="cart-content__cell cart-content__cell--4">
            <div class="stepper cart-content__stepper">
              <button class="btn-reset stepper__minus" aria-label="Уменьшить">
                <svg class="icon">
                  <use xlink:href="img/sprite.svg#minus"></use>
                </svg>
              </button>
              <input
                type="number"
                class="input-reset stepper__input"
                value="1"
                maxlength="2"
              />
              <button class="btn-reset stepper__plus" aria-label="Увеличить">
                <svg class="icon">
                  <use xlink:href="img/sprite.svg#plus"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="cart-content__cell cart-content__cell--5">
            <div class="cart-content__caption">сумма</div>
            <div class="cart-content__sum">91 890 ₽</div>
            <button class="btn-reset cart-content__delete">Удалить</button>
          </div>
        </div>
      </div>
    </div>
    <div class="cart-content__row">
      <div class="container">
        <div class="cart-content__inner grid">
          <div class="cart-content__cell cart-content__cell--1">
            <picture>
              <source srcset="img/products/1-cart.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/products/1-cart.png"
                class="cart-content__image"
                width="200"
                height="200"
                alt="Neumann TLM 102 BK"
              />
            </picture>
          </div>
          <div class="cart-content__cell cart-content__cell--2">
            <h3 class="cart-content__subtitle">Neumann TLM 102 BK</h3>
            <div class="stepper cart-content__stepper cart-content__stepper--mob">
              <button class="btn-reset stepper__minus" aria-label="Уменьшить">
                <svg class="icon">
                  <use xlink:href="img/sprite.svg#minus"></use>
                </svg>
              </button>
              <input
                type="number"
                class="input-reset stepper__input"
                value="1"
                maxlength="2"
              />
              <button class="btn-reset stepper__plus" aria-label="Увеличить">
                <svg class="icon">
                  <use xlink:href="img/sprite.svg#plus"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="cart-content__cell cart-content__cell--3">
            <div class="cart-content__caption">цена</div>
            <div class="cart-content__price">91 890 ₽</div>
          </div>
          <div class="cart-content__cell cart-content__cell--4">
            <div class="stepper cart-content__stepper">
              <button class="btn-reset stepper__minus" aria-label="Уменьшить">
                <svg class="icon">
                  <use xlink:href="img/sprite.svg#minus"></use>
                </svg>
              </button>
              <input
                type="number"
                class="input-reset stepper__input"
                value="1"
                maxlength="2"
              />
              <button class="btn-reset stepper__plus" aria-label="Увеличить">
                <svg class="icon">
                  <use xlink:href="img/sprite.svg#plus"></use>
                </svg>
              </button>
            </div>
          </div>
          <div class="cart-content__cell cart-content__cell--5">
            <div class="cart-content__caption">сумма</div>
            <div class="cart-content__sum">91 890 ₽</div>
            <button class="btn-reset cart-content__delete">Удалить</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cart-content__bottom">
    <button class="btn btn--primary cart-content__btn">Оформить заказ</button>
    <div class="cart-content__result">Итого: <span>181 239 ₽</span></div>
  </div>
</section>
