<section class="contacts-content">
  <form method="POST" class="contacts-content__form">
    <div class="contacts-content__inner">
      <h2 class="contacts-content__title contacts-content__title--form">
        У вас есть вопросы? Напишите нам!
      </h2>
      <div class="contacts-content__inputs">
        <label class="contacts-content__label">
          <input
            type="text"
            name="name"
            placeholder="Имя*"
            class="contacts-content__input name-input small-input"
          />
        </label>
        <label class="contacts-content__label">
          <input
            type="text"
            name="company"
            placeholder="Компания"
            class="contacts-content__input company-input small-input"
          />
        </label>
        <label class="contacts-content__label">
          <input
            type="email"
            name="email"
            placeholder="E-mail*"
            class="contacts-content__input email-input small-input"
          />
        </label>
        <label class="contacts-content__label">
          <input
            type="tel"
            name="tel"
            placeholder="Телефон*"
            class="contacts-content__input tel-input small-input"
          />
        </label>
        <label class="contacts-content__label contacts-content__label--textarea">
          <textarea
            name="message"
            placeholder="Сообщение*"
            class="contacts-content__input message-textarea small-textarea"
          ></textarea>
        </label>
      </div>
      <label class="custom-checkbox contacts-content__checkbox">
        <input type="checkbox" name="policy" class="custom-checkbox__field" />
        <span class="custom-checkbox__content"
          >Я согласен с
          <a href="#">политикой обработки персональных данных</a></span
        >
      </label>
      <button class="btn btn--primary contacts-content__btn" type="submit">
        Отправить
      </button>
    </div>
  </form>
  <div class="contacts-content__info">
    <h1 class="contacts-content__title">Наши контакты</h1>
    <div class="contacts-content__wrapper">
      <div class="contacts-content__col">
        <div class="contacts-content__item">
          <h3 class="contacts-content__subtitle">Обработка заказов:</h3>
          <div class="contacts-content__text">
            09:00-18:00 пн-пт
          </div>
        </div>
        <div class="contacts-content__item">
          <h3 class="contacts-content__subtitle">телефон:</h3>
          <a href="tel:+78001112233" class="contacts-content__text">
            +7 800 111 22 33
          </a>
        </div>
        <div class="contacts-content__item">
          <h3 class="contacts-content__subtitle">email:</h3>
          <a href="mailto:info@reeltoreal.ru" class="contacts-content__text">
            info@reeltoreal.ru
          </a>
        </div>
        <div class="contacts-content__item">
          <h3 class="contacts-content__subtitle">гарантия и сервис:</h3>
          <a href="mailto:info@reeltoreal.ru" class="contacts-content__text">
            help@reeltoreal.ru
          </a>
        </div>
      </div>
      <div class="contacts-content__col">
        <div class="contacts-content__item">
          <h3 class="contacts-content__subtitle">гарантия и сервис:</h3>
          <a href="mailto:pr@reeltoreal.ru" class="contacts-content__text">
            pr@reeltoreal.ru
          </a>
        </div>
        <div class="contacts-content__item">
          <h3 class="contacts-content__subtitle">реквизиты:</h3>
          <div class="contacts-content__text">
            ООО «РилТуРил» <br />
            ИНН: 9709249251 <br />
            КПП: 770400000 <br />
            ОГРН: 119524223352
          </div>
        </div>
        <div class="contacts-content__item contacts-content__item--last">
          <h3 class="contacts-content__subtitle">юридический адрес:</h3>
          <div class="contacts-content__text">
            122320, г. Санкт-Петербург, ул. Богословская улица, 4 к1
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
