<footer class="footer">
  <a class="btn-reset to-top" href="#header">
    <svg class="icon">
      <use xlink:href="img/sprite.svg#arrow-top"></use>
    </svg>
  </a>
  <div class="cookie-block">
    <h3 class="cookie-block__title">
      Мы используем куки для улучшения работы сайта
    </h3>
    <p class="cookie-block__descr">
      Оставаясь на сайте, вы соглашаетесь на использование файлов куки
    </p>
    <button class="btn btn--tretiary cookie-block__btn">Ок</button>
  </div>
  <div class="container">
    <div class="footer__top grid">
      <div class="footer__col">
        <a class="footer__logo">Reel to real</a>
      </div>
      <div class="footer__col">
        <h3 class="footer__title" role="button" tabindex="0">
          Каталог
          <svg class="footer__title-icon">
            <use xlink:href="img/sprite.svg#angle"></use>
          </svg>
        </h3>
        <ul class="list-reset footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link">Винил</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Кассеты</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Аппаратура</a>
          </li>
        </ul>
      </div>
      <div class="footer__col">
        <h3 class="footer__title" role="button" tabindex="0">
          Клиентам
          <svg class="footer__title-icon">
            <use xlink:href="img/sprite.svg#angle"></use>
          </svg>
        </h3>
        <ul class="list-reset footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link">Доставка</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Возврат</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">FAQ</a>
          </li>
        </ul>
      </div>
      <div class="footer__col">
        <h3 class="footer__title" role="button" tabindex="0">
          Контакты
          <svg class="footer__title-icon">
            <use xlink:href="img/sprite.svg#angle"></use>
          </svg>
        </h3>
        <ul class="list-reset footer__list">
          <li class="footer__item">
            Email: <a href="mailto:hi@reeltoreal.ru" class="footer__link">hi@reeltoreal.ru</a>
          </li>
          <li class="footer__item">
            Телефон: <a href="tel:+71234567890" class="footer__link">+7 123 456-78-90</a>
          </li>
          <li class="footer__item">
            Адрес: СПб, Невский пр-т, 59
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__bottom">
      <small class="footer__copy">
        © 2024 Reel to Real. Все права защищены.
      </small>
      <a href="#" class="footer__additional">Политика конфиденциальности</a>
      <a href="#" class="footer__additional">Условия использования</a>
    </div>
  </div>
</footer>
