<header class="header header--fixed-mobile" id="header">
  <div class="header__top">
    <div class="container header__container">
      <a href="index.html" class="header__logo">Reel to real</a>
      <nav class="nav">
        <ul class="list-reset nav__list">
          <li class="nav__item">
            <a href="shops.html" class="nav__link">Магазины</a>
          </li>
          <li class="nav__item">
            <a href="contacts.html" class="nav__link">Контакты</a>
          </li>
        </ul>
      </nav>
      <div class="header__actions">
        <a href="#" class="btn-reset header__fav header__action" aria-label="Перейти в избранное">
          <svg class="icon">
            <use xlink:href="img/sprite.svg#fav"></use>
          </svg>
          <span class="header__action-count">2</span>
        </a>
        <button class="btn-reset header__cart header__action" aria-label="Открыть мини-корзину">
          <svg class="icon">
            <use xlink:href="img/sprite.svg#cart"></use>
          </svg>
          <span class="header__action-count">4</span>
        </button>
        <a href="#" class="btn-reset header__cabinet header__action">
          <svg class="icon">
            <use xlink:href="img/sprite.svg#user"></use>
          </svg>
          Кабинет
        </a>
      </div>
      <a href="tel:88004567890" class="header__phone header__phone--mob">8-800-456-78-90</a>
    </div>
  </div>
  <div class="header__bottom">
    <div class="container header__container">
      <button class="btn-reset header-btn header__catalog">
        <svg class="header-btn__icon">
          <use xlink:href="img/sprite.svg#burger"></use>
        </svg>
        Каталог
        <svg class="header-btn__angle">
          <use xlink:href="img/sprite.svg#angle"></use>
        </svg>
      </button>
      <button class="btn-reset header-btn header__collections">
        Коллекции
        <svg class="header-btn__angle">
          <use xlink:href="img/sprite.svg#angle"></use>
        </svg>
      </button>
      <form action="#" class="header-search">
        <label class="header-search__label">
          <svg class="header-search__icon">
            <use xlink:href="img/sprite.svg#search"></use>
          </svg>
          <input type="search" placeholder="Найти винил или аппаратуру" class="input-reset header-search__input">
        </label>
      </form>
      <a href="tel:88004567890" class="header__phone">8-800-456-78-90</a>
    </div>
  </div>
</header>
