<section class="hero">
  <div class="hero__image">
    <picture>
      <source srcset="img/hero-image.webp" type="image/webp">
      <img src="img/hero-image.jpg" class="hero__pic" width="960" height="640" aria-hidden="true" alt="">
    </picture>
  </div>
  <div class="hero__text">
    <img src="img/hero-decor.svg" aria-hidden="true" alt="" class="hero__decor">
    <h1 class="visually-hidden">Reel to Real - продажа Hi-fi техники</h1>
    <h2 class="hero__title">
      Звук, который можно потрогать
    </h2>
    <p class="hero__descr">
      Reel to Real — портал в эпоху аналогового звука. Редкие виниловые пластинки и отреставрированная аппаратура для тех, кто ценит живой звук.
    </p>
    <a href="catalog.html" class="btn btn--secondary hero__btn">
      исследовать коллекцию
    </a>
  </div>
</section>
