<div class="loop-scroll">
  <div class="loop-scroll__inner">
    <div>
      Реставрация • Доставка по миру • Винил • Кассеты • Аппаратура •
    </div>
    <div>
      Реставрация • Доставка по миру • Винил • Кассеты • Аппаратура •
    </div>
    <div>
      Реставрация • Доставка по миру • Винил • Кассеты • Аппаратура •
    </div>
    <div>
      Реставрация • Доставка по миру • Винил • Кассеты • Аппаратура •
    </div>
    <div>
      Реставрация • Доставка по миру • Винил • Кассеты • Аппаратура •
    </div>
  </div>
</div>
