<section class="main-categories">
  <h2 class="visually-hidden">Категории</h2>
  <ul class="list-reset main-categories__list">
    <li class="main-categories__item">
      <a href="#" class="main-categories__link">
        <svg class="main-categories__icon">
          <use xlink:href="img/sprite.svg#categories-1"></use>
        </svg>
        <h3 class="main-categories__subtitle">Пластинки</h3>
        <div class="main-categories__quantity">132 товара</div>
      </a>
    </li>
    <li class="main-categories__item">
      <a href="#" class="main-categories__link">
        <svg class="main-categories__icon">
          <use xlink:href="img/sprite.svg#categories-2"></use>
        </svg>
        <h3 class="main-categories__subtitle">Кассеты</h3>
        <div class="main-categories__quantity">57 товаров</div>
      </a>
    </li>
    <li class="main-categories__item">
      <a href="#" class="main-categories__link">
        <svg class="main-categories__icon">
          <use xlink:href="img/sprite.svg#categories-3"></use>
        </svg>
        <h3 class="main-categories__subtitle">Проигрыватели</h3>
        <div class="main-categories__quantity">11 товаров</div>
      </a>
    </li>
    <li class="main-categories__item">
      <a href="#" class="main-categories__link">
        <svg class="main-categories__icon">
          <use xlink:href="img/sprite.svg#categories-4"></use>
        </svg>
        <h3 class="main-categories__subtitle">Аксессуары</h3>
        <div class="main-categories__quantity">235 товаров</div>
      </a>
    </li>
  </ul>
</section>
