<nav class="mobile-menu">
  <ul class="list-reset mobile-menu__list">
    <li class="mobile-menu__item">
      <a href="index.html" class="mobile-menu__btn">
        <svg class="mobile-menu__icon">
          <use xlink:href="img/sprite.svg#house"></use>
        </svg>
        <span class="mobile-menu__text">Главная</span>
      </a>
    </li>
    <li class="mobile-menu__item">
      <a href="shops.html" class="mobile-menu__btn">
        <svg class="mobile-menu__icon">
          <use xlink:href="img/sprite.svg#marker"></use>
        </svg>
        <span class="mobile-menu__text">Магазины</span>
      </a>
    </li>
    <li class="mobile-menu__item">
      <button class="mobile-menu__btn mobile-menu__catalog">
        <svg class="mobile-menu__icon">
          <use xlink:href="img/sprite.svg#catalog"></use>
        </svg>
        <span class="mobile-menu__text">Каталог</span>
      </button>
    </li>
    <li class="mobile-menu__item">
      <button class="mobile-menu__btn mobile-menu__cart">
        <div class="mobile-menu__cart-inner">
          <svg class="mobile-menu__icon">
            <use xlink:href="img/sprite.svg#cart"></use>
          </svg>
          <span class="mobile-menu__cart-count">4</span>
        </div>
        <span class="mobile-menu__text">Корзина</span>
      </button>
    </li>
    <li class="mobile-menu__item">
      <button class="mobile-menu__btn" data-graph-path="enter-modal">
        <svg class="mobile-menu__icon">
          <use xlink:href="img/sprite.svg#user"></use>
        </svg>
        <span class="mobile-menu__text">Кабинет</span>
      </button>
    </li>
  </ul>
</nav>
