<div class="mini-cart">
  <div class="mini-cart__top">
    <h2 class="mini-cart__title">
      Корзина
      <span class="mini-cart__quantity">3</span>
    </h2>
    <button class="btn-reset mini-cart__close" aria-label="Закрыть мини-корзину">
      <svg class="icon">
        <use xlink:href="img/sprite.svg#close"></use>
      </svg>
    </button>
  </div>
  <div class="mini-cart__content">
    <div class="mini-cart__products" data-simplebar>
      <article class="mini-cart-product">
        <div class="mini-cart-product__top">
          <picture>
            <source srcset="img/products/1-mini.webp" type="image/webp">
            <img loading="lazy" src="img/products/1-mini.png" class="mini-cart-product__image" width="52" height="52" alt="Neumann TLM 102 BK">
          </picture>
          <h3 class="mini-cart-product__title">
            <a href="#" class="mini-cart-product__link">Neumann TLM 102 BK</a>
          </h3>
          <button class="btn-reset mini-cart-product__delete" aria-label="Удалить из мини-корзины">
            <svg class="icon">
              <use xlink:href="img/sprite.svg#close"></use>
            </svg>
          </button>
        </div>
        <div class="mini-cart-product__bottom">
          <div class="stepper mini-cart-product__stepper">
            <button class="btn-reset stepper__minus" aria-label="Уменьшить">
              <svg class="icon">
                <use xlink:href="img/sprite.svg#minus"></use>
              </svg>
            </button>
            <input type="number" class="input-reset stepper__input" value="1" maxlength="2">
            <button class="btn-reset stepper__plus" aria-label="Увеличить">
              <svg class="icon">
                <use xlink:href="img/sprite.svg#plus"></use>
              </svg>
            </button>
          </div>
          <div class="mini-cart-product__price">
            91 890 ₽
          </div>
        </div>
      </article>
      <article class="mini-cart-product">
        <div class="mini-cart-product__top">
          <picture>
            <source srcset="img/products/1-mini.webp" type="image/webp">
            <img loading="lazy" src="img/products/1-mini.png" class="mini-cart-product__image" width="52" height="52" alt="Neumann TLM 102 BK">
          </picture>
          <h3 class="mini-cart-product__title">
            <a href="#" class="mini-cart-product__link">Neumann TLM 102 BK</a>
          </h3>
          <button class="btn-reset mini-cart-product__delete" aria-label="Удалить из мини-корзины">
            <svg class="icon">
              <use xlink:href="img/sprite.svg#close"></use>
            </svg>
          </button>
        </div>
        <div class="mini-cart-product__bottom">
          <div class="stepper mini-cart-product__stepper">
            <button class="btn-reset stepper__minus" aria-label="Уменьшить">
              <svg class="icon">
                <use xlink:href="img/sprite.svg#minus"></use>
              </svg>
            </button>
            <input type="number" class="input-reset stepper__input" value="1" maxlength="2">
            <button class="btn-reset stepper__plus" aria-label="Увеличить">
              <svg class="icon">
                <use xlink:href="img/sprite.svg#plus"></use>
              </svg>
            </button>
          </div>
          <div class="mini-cart-product__price">
            91 890 ₽
          </div>
        </div>
      </article>
      <article class="mini-cart-product">
        <div class="mini-cart-product__top">
          <picture>
            <source srcset="img/products/1-mini.webp" type="image/webp">
            <img loading="lazy" src="img/products/1-mini.png" class="mini-cart-product__image" width="52" height="52" alt="Neumann TLM 102 BK">
          </picture>
          <h3 class="mini-cart-product__title">
            <a href="#" class="mini-cart-product__link">Neumann TLM 102 BK</a>
          </h3>
          <button class="btn-reset mini-cart-product__delete" aria-label="Удалить из мини-корзины">
            <svg class="icon">
              <use xlink:href="img/sprite.svg#close"></use>
            </svg>
          </button>
        </div>
        <div class="mini-cart-product__bottom">
          <div class="stepper mini-cart-product__stepper">
            <button class="btn-reset stepper__minus" aria-label="Уменьшить">
              <svg class="icon">
                <use xlink:href="img/sprite.svg#minus"></use>
              </svg>
            </button>
            <input type="number" class="input-reset stepper__input" value="1" maxlength="2">
            <button class="btn-reset stepper__plus" aria-label="Увеличить">
              <svg class="icon">
                <use xlink:href="img/sprite.svg#plus"></use>
              </svg>
            </button>
          </div>
          <div class="mini-cart-product__price">
            91 890 ₽
          </div>
        </div>
      </article>
      <article class="mini-cart-product">
        <div class="mini-cart-product__top">
          <picture>
            <source srcset="img/products/1-mini.webp" type="image/webp">
            <img loading="lazy" src="img/products/1-mini.png" class="mini-cart-product__image" width="52" height="52" alt="Neumann TLM 102 BK">
          </picture>
          <h3 class="mini-cart-product__title">
            <a href="#" class="mini-cart-product__link">Neumann TLM 102 BK</a>
          </h3>
          <button class="btn-reset mini-cart-product__delete" aria-label="Удалить из мини-корзины">
            <svg class="icon">
              <use xlink:href="img/sprite.svg#close"></use>
            </svg>
          </button>
        </div>
        <div class="mini-cart-product__bottom">
          <div class="stepper mini-cart-product__stepper">
            <button class="btn-reset stepper__minus" aria-label="Уменьшить">
              <svg class="icon">
                <use xlink:href="img/sprite.svg#minus"></use>
              </svg>
            </button>
            <input type="number" class="input-reset stepper__input" value="1" maxlength="2">
            <button class="btn-reset stepper__plus" aria-label="Увеличить">
              <svg class="icon">
                <use xlink:href="img/sprite.svg#plus"></use>
              </svg>
            </button>
          </div>
          <div class="mini-cart-product__price">
            91 890 ₽
          </div>
        </div>
      </article>
    </div>
    <div class="mini-cart__bottom">
      <div class="mini-cart__result">
        <div class="mini-cart__text">Итог</div>
        <div class="mini-cart__sum">210 210 ₽</div>
      </div>
      <a href="cart.html" class="btn btn--primary mini-cart__btn">В корзину</a>
    </div>
  </div>
</div>
<div class="search-result">
  <nav class="search-result__nav" data-simplebar title="Поиск">
    <div class="search-result__block">
      <h3 class="search-result__title">Категории</h3>
      <ul class="list-reset search-result__list">
        <li class="search-result__item">
          <button class="btn-reset search-result__btn" data-tab="1">Микрофоны</button>
        </li>
        <li class="search-result__item">
          <button class="btn-reset search-result__btn" data-tab="2">Аудио-системы</button>
        </li>
        <li class="search-result__item">
          <button class="btn-reset search-result__btn">Наушники</button>
        </li>
      </ul>
    </div>
    <div class="search-result__block">
      <h3 class="search-result__title">Бренды</h3>
      <ul class="list-reset search-result__list">
        <li class="search-result__item">
          <button class="btn-reset search-result__btn">Audio-Technica</button>
        </li>
        <li class="search-result__item">
          <button class="btn-reset search-result__btn">KEF Audio</button>
        </li>
        <li class="search-result__item">
          <button class="btn-reset search-result__btn">AUKEY</button>
        </li>
        <li class="search-result__item">
          <button class="btn-reset search-result__btn">Audes</button>
        </li>
      </ul>
    </div>
    <div class="search-result__block">
      <h3 class="search-result__title">Коллекции</h3>
      <ul class="list-reset search-result__list">
        <li class="search-result__item">
          <button class="btn-reset search-result__btn">Лучшие наушники до 10000 ₽</button>
        </li>
        <li class="search-result__item">
          <button class="btn-reset search-result__btn">Микрофоны для записи вокала</button>
        </li>
        <li class="search-result__item">
          <button class="btn-reset search-result__btn">Недорогие проигрыватели винила</button>
        </li>
      </ul>
    </div>
  </nav>
  <div class="search-result__content search-result__content--active" data-target="1">
    <button class="btn-reset search-result__back">Микрофоны</button>
    <div class="search-result__wrapper" data-simplebar>
      <ul class="list-reset search-result__inner search-result__inner--active" >
        <li class="search-result__el">
          <article class="search-result-product">
            <picture>
              <source srcset="img/products/1-search-result.webp" type="image/webp">
              <img loading="lazy" src="img/products/1-search-result.png" class="search-result-product__image" width="120" height="120" alt="AT-LPW40WN">
            </picture>
            <div class="search-result-product__text">
              <a href="#" class="search-result-product__brand">Audio-Technica</a>
              <h3 class="search-result-product__title">
                <a href="#" class="search-result-product__link">AT-LPW40WN</a>
              </h3>
              <div class="search-result-product__price">
                110 000 ₽
              </div>
            </div>
          </article>
        </li>
        <li class="search-result__el">
          <article class="search-result-product">
            <picture>
              <source srcset="img/products/1-search-result.webp" type="image/webp">
              <img loading="lazy" src="img/products/1-search-result.png" class="search-result-product__image" width="120" height="120" alt="AT-LPW40WN">
            </picture>
            <div class="search-result-product__text">
              <a href="#" class="search-result-product__brand">Audio-Technica</a>
              <h3 class="search-result-product__title">
                <a href="#" class="search-result-product__link">AT-LPW40WN</a>
              </h3>
              <div class="search-result-product__price">
                110 000 ₽
              </div>
            </div>
          </article>
        </li>
        <li class="search-result__el">
          <article class="search-result-product">
            <picture>
              <source srcset="img/products/1-search-result.webp" type="image/webp">
              <img loading="lazy" src="img/products/1-search-result.png" class="search-result-product__image" width="120" height="120" alt="AT-LPW40WN">
            </picture>
            <div class="search-result-product__text">
              <a href="#" class="search-result-product__brand">Audio-Technica</a>
              <h3 class="search-result-product__title">
                <a href="#" class="search-result-product__link">AT-LPW40WN</a>
              </h3>
              <div class="search-result-product__price">
                110 000 ₽
              </div>
            </div>
          </article>
        </li>
        <li class="search-result__el">
          <article class="search-result-product">
            <picture>
              <source srcset="img/products/1-search-result.webp" type="image/webp">
              <img loading="lazy" src="img/products/1-search-result.png" class="search-result-product__image" width="120" height="120" alt="AT-LPW40WN">
            </picture>
            <div class="search-result-product__text">
              <a href="#" class="search-result-product__brand">Audio-Technica</a>
              <h3 class="search-result-product__title">
                <a href="#" class="search-result-product__link">AT-LPW40WN</a>
              </h3>
              <div class="search-result-product__price">
                110 000 ₽
              </div>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
  <div class="search-result__content" data-target="2">
    <button class="btn-reset search-result__back">Аудиосистемы</button>
    <div class="search-result__wrapper" data-simplebar>
      <ul class="list-reset search-result__inner search-result__inner--active" >
        <li class="search-result__el">
          <article class="search-result-product">
            <picture>
              <source srcset="img/products/1-search-result.webp" type="image/webp">
              <img loading="lazy" src="img/products/1-search-result.png" class="search-result-product__image" width="120" height="120" alt="AT-LPW40WN">
            </picture>
            <div class="search-result-product__text">
              <a href="#" class="search-result-product__brand">Audio-Technica1</a>
              <h3 class="search-result-product__title">
                <a href="#" class="search-result-product__link">AT-LPW40WN</a>
              </h3>
              <div class="search-result-product__price">
                110 000 ₽
              </div>
            </div>
          </article>
        </li>
        <li class="search-result__el">
          <article class="search-result-product">
            <picture>
              <source srcset="img/products/1-search-result.webp" type="image/webp">
              <img loading="lazy" src="img/products/1-search-result.png" class="search-result-product__image" width="120" height="120" alt="AT-LPW40WN">
            </picture>
            <div class="search-result-product__text">
              <a href="#" class="search-result-product__brand">Audio-Technica</a>
              <h3 class="search-result-product__title">
                <a href="#" class="search-result-product__link">AT-LPW40WN</a>
              </h3>
              <div class="search-result-product__price">
                110 000 ₽
              </div>
            </div>
          </article>
        </li>
        <li class="search-result__el">
          <article class="search-result-product">
            <picture>
              <source srcset="img/products/1-search-result.webp" type="image/webp">
              <img loading="lazy" src="img/products/1-search-result.png" class="search-result-product__image" width="120" height="120" alt="AT-LPW40WN">
            </picture>
            <div class="search-result-product__text">
              <a href="#" class="search-result-product__brand">Audio-Technica</a>
              <h3 class="search-result-product__title">
                <a href="#" class="search-result-product__link">AT-LPW40WN</a>
              </h3>
              <div class="search-result-product__price">
                110 000 ₽
              </div>
            </div>
          </article>
        </li>
        <li class="search-result__el">
          <article class="search-result-product">
            <picture>
              <source srcset="img/products/1-search-result.webp" type="image/webp">
              <img loading="lazy" src="img/products/1-search-result.png" class="search-result-product__image" width="120" height="120" alt="AT-LPW40WN">
            </picture>
            <div class="search-result-product__text">
              <a href="#" class="search-result-product__brand">Audio-Technica</a>
              <h3 class="search-result-product__title">
                <a href="#" class="search-result-product__link">AT-LPW40WN</a>
              </h3>
              <div class="search-result-product__price">
                110 000 ₽
              </div>
            </div>
          </article>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="megamenu catalog-menu">
  <nav class="megamenu__nav" data-simplebar title="Мегаменю">
    <ul class="list-reset megamenu__list">
      <li class="megamenu__item">
        <button class="btn-reset megamenu__btn" data-tab="1">Проигрыватели</a>
      </li>
      <li class="megamenu__item">
        <button class="btn-reset megamenu__btn megamenu__btn--active" data-tab="2">Микрофоны</a>
      </li>
      <li class="megamenu__item">
        <button class="btn-reset megamenu__btn" data-tab="3">Акустические системы</a>
      </li>
      <li class="megamenu__item">
        <button class="btn-reset megamenu__btn">Виниловые пластинки</a>
      </li>
      <li class="megamenu__item">
        <button class="btn-reset megamenu__btn">Портативный Hi-Fi</a>
      </li>
      <li class="megamenu__item">
        <button class="btn-reset megamenu__btn">Студийное оборудование</a>
      </li>
      <li class="megamenu__item">
        <button class="btn-reset megamenu__btn">Наушники</a>
      </li>
      <li class="megamenu__item">
        <button class="btn-reset megamenu__btn">Усилители</a>
      </li>
      <li class="megamenu__item">
        <button class="btn-reset megamenu__btn">Внешние ЦАПы</a>
      </li>
      <li class="megamenu__item">
        <button class="btn-reset megamenu__btn">Саундбары</a>
      </li>
    </ul>
  </nav>
  <div class="megamenu__content " data-target="1">
    <button class="btn-reset megamenu__back">Проигрыватели</button>
    <div class="megamenu__wrapper" data-simplebar>
      <ul class="list-reset megamenu__items">
        <li class="megamenu__block">
          <a href="#" class="megamenu__link">
            <picture>
              <source srcset="img/megamenu/1.webp" type="image/webp">
              <img loading="lazy" src="img/megamenu/1.png" class="megamenu__icon" height="72" alt="" aria-hidden="true">
            </picture>
            <h3 class="megamenu__subtitle">
              Динамические1
            </h3>
            <div class="megamenu__quantity">
              20
            </div>
          </a>
        </li>
        <li class="megamenu__block">
          <a href="#" class="megamenu__link">
            <picture>
              <source srcset="img/megamenu/2.webp" type="image/webp">
              <img loading="lazy" src="img/megamenu/2.png" class="megamenu__icon" height="72" alt="" aria-hidden="true">
            </picture>
            <h3 class="megamenu__subtitle">
              Конденсаторные
            </h3>
            <div class="megamenu__quantity">
              11
            </div>
          </a>
        </li>
        <li class="megamenu__block">
          <a href="#" class="megamenu__link">
            <picture>
              <source srcset="img/megamenu/3.webp" type="image/webp">
              <img loading="lazy" src="img/megamenu/3.png" class="megamenu__icon" height="72" alt="" aria-hidden="true">
            </picture>
            <h3 class="megamenu__subtitle">
              Радиосистемы
            </h3>
            <div class="megamenu__quantity">
              43
            </div>
          </a>
        </li>
        <li class="megamenu__block">
          <a href="#" class="megamenu__link">
            <picture>
              <source srcset="img/megamenu/4.webp" type="image/webp">
              <img loading="lazy" src="img/megamenu/4.png" class="megamenu__icon" height="72" alt="" aria-hidden="true">
            </picture>
            <h3 class="megamenu__subtitle">
              Конференц-системы
            </h3>
            <div class="megamenu__quantity">
              22
            </div>
          </a>
        </li>
        <li class="megamenu__block">
          <a href="#" class="megamenu__link">
            <picture>
              <source srcset="img/megamenu/5.webp" type="image/webp">
              <img loading="lazy" src="img/megamenu/5.png" class="megamenu__icon" height="72" alt="" aria-hidden="true">
            </picture>
            <h3 class="megamenu__subtitle">
              Петлички
            </h3>
            <div class="megamenu__quantity">
              25
            </div>
          </a>
        </li>
        <li class="megamenu__block">
          <a href="#" class="megamenu__link">
            <picture>
              <source srcset="img/megamenu/6.webp" type="image/webp">
              <img loading="lazy" src="img/megamenu/6.png" class="megamenu__icon" height="72" alt="" aria-hidden="true">
            </picture>
            <h3 class="megamenu__subtitle">
              Аксессуары
            </h3>
            <div class="megamenu__quantity">
              52
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="megamenu__content megamenu__content--active" data-target="2">
    <button class="btn-reset megamenu__back">Микрофоны</button>
    <div class="megamenu__wrapper" data-simplebar>
      <ul class="list-reset megamenu__items">
        <li class="megamenu__block">
          <a href="#" class="megamenu__link">
            <picture>
              <source srcset="img/megamenu/1.webp" type="image/webp">
              <img loading="lazy" src="img/megamenu/1.png" class="megamenu__icon" height="72" alt="" aria-hidden="true">
            </picture>
            <h3 class="megamenu__subtitle">
              Динамические
            </h3>
            <div class="megamenu__quantity">
              20
            </div>
          </a>
        </li>
        <li class="megamenu__block">
          <a href="#" class="megamenu__link">
            <picture>
              <source srcset="img/megamenu/2.webp" type="image/webp">
              <img loading="lazy" src="img/megamenu/2.png" class="megamenu__icon" height="72" alt="" aria-hidden="true">
            </picture>
            <h3 class="megamenu__subtitle">
              Конденсаторные
            </h3>
            <div class="megamenu__quantity">
              11
            </div>
          </a>
        </li>
        <li class="megamenu__block">
          <a href="#" class="megamenu__link">
            <picture>
              <source srcset="img/megamenu/3.webp" type="image/webp">
              <img loading="lazy" src="img/megamenu/3.png" class="megamenu__icon" height="72" alt="" aria-hidden="true">
            </picture>
            <h3 class="megamenu__subtitle">
              Радиосистемы
            </h3>
            <div class="megamenu__quantity">
              43
            </div>
          </a>
        </li>
        <li class="megamenu__block">
          <a href="#" class="megamenu__link">
            <picture>
              <source srcset="img/megamenu/4.webp" type="image/webp">
              <img loading="lazy" src="img/megamenu/4.png" class="megamenu__icon" height="72" alt="" aria-hidden="true">
            </picture>
            <h3 class="megamenu__subtitle">
              Конференц-системы
            </h3>
            <div class="megamenu__quantity">
              22
            </div>
          </a>
        </li>
        <li class="megamenu__block">
          <a href="#" class="megamenu__link">
            <picture>
              <source srcset="img/megamenu/5.webp" type="image/webp">
              <img loading="lazy" src="img/megamenu/5.png" class="megamenu__icon" height="72" alt="" aria-hidden="true">
            </picture>
            <h3 class="megamenu__subtitle">
              Петлички
            </h3>
            <div class="megamenu__quantity">
              25
            </div>
          </a>
        </li>
        <li class="megamenu__block">
          <a href="#" class="megamenu__link">
            <picture>
              <source srcset="img/megamenu/6.webp" type="image/webp">
              <img loading="lazy" src="img/megamenu/6.png" class="megamenu__icon" height="72" alt="" aria-hidden="true">
            </picture>
            <h3 class="megamenu__subtitle">
              Аксессуары
            </h3>
            <div class="megamenu__quantity">
              52
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="megamenu collections-menu">
  <nav class="megamenu__nav" data-simplebar title="Мегаменю">
    <ul class="list-reset megamenu__list">
      <li class="megamenu__item">
        <button class="btn-reset megamenu__btn">Микрофоны для записи вокала</a>
      </li>
      <li class="megamenu__item">
        <button class="btn-reset megamenu__btn megamenu__btn--active">Для студии</a>
      </li>
      <li class="megamenu__item">
        <button class="btn-reset megamenu__btn">Недорогие проигрыватели винила</a>
      </li>
      <li class="megamenu__item">
        <button class="btn-reset megamenu__btn">Лучшие наушники до 10000 ₽</a>
      </li>
      <li class="megamenu__item">
        <button class="btn-reset megamenu__btn">Винтажный звук</a>
      </li>
      <li class="megamenu__item">
        <button class="btn-reset megamenu__btn">Набор новичка</a>
      </li>
      <li class="megamenu__item">
        <button class="btn-reset megamenu__btn">Внешние ЦАПы</a>
      </li>
    </ul>
  </nav>
  <div class="megamenu__content megamenu__content--active">
    <div class="megamenu__wrapper" data-simplebar>
      <ul class="list-reset megamenu__items">
        <li class="megamenu__block">
          <a href="#" class="megamenu__link">
            <picture>
              <source srcset="img/megamenu/7.webp" type="image/webp">
              <img loading="lazy" src="img/megamenu/7.png" class="megamenu__icon" height="72" alt="" aria-hidden="true">
            </picture>
            <h3 class="megamenu__subtitle">
              Аудиоинтерфейсы
            </h3>
            <div class="megamenu__quantity">
              20
            </div>
          </a>
        </li>
        <li class="megamenu__block">
          <a href="#" class="megamenu__link">
            <picture>
              <source srcset="img/megamenu/8.webp" type="image/webp">
              <img loading="lazy" src="img/megamenu/8.png" class="megamenu__icon" height="72" alt="" aria-hidden="true">
            </picture>
            <h3 class="megamenu__subtitle">
              Мониторы для сведения
            </h3>
            <div class="megamenu__quantity">
              11
            </div>
          </a>
        </li>
        <li class="megamenu__block">
          <a href="#" class="megamenu__link">
            <picture>
              <source srcset="img/megamenu/9.webp" type="image/webp">
              <img loading="lazy" src="img/megamenu/9.png" class="megamenu__icon" height="72" alt="" aria-hidden="true">
            </picture>
            <h3 class="megamenu__subtitle">
              Микрофоны для вокала
            </h3>
            <div class="megamenu__quantity">
              5
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

