<section class="product-hero">
  <ul class="list-reset breadcrumbs product-hero__breadcrumbs">
    <li class="breadcrumbs__item">
      <a href="#" class="breadcrumbs__link">Микрофоны</a>
    </li>
    <li class="breadcrumbs__item">
      <a href="#" class="breadcrumbs__link">Студийные микрофоны</a>
    </li>
    <li class="breadcrumbs__item">
      <a href="#" class="breadcrumbs__link">NEUMANN</a>
    </li>
    <li class="breadcrumbs__item">
      <a class="breadcrumbs__link">Neumann TLM 102 BK</a>
    </li>
  </ul>
  <div class="product-hero__inner">
    <div class="product-hero__images">
      <button class="btn-reset product-hero__fav" aria-label="Добавить в избранное">
        <svg class="icon">
          <use xlink:href="img/sprite.svg#fav"></use>
        </svg>
      </button>
      <div class="product-hero__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="product-hero__slide">
              <picture>
                <source
                  srcset="img/products/1-product.webp"
                  type="image/webp"
                />
                <img
                  loading="lazy"
                  src="img/products/1-product.png"
                  class="product-hero__image"
                  width="700"
                  height="700"
                  alt="Neumann TLM 102 BK"
                />
              </picture>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-hero__slide">
              <picture>
                <source
                  srcset="img/products/1-product.webp"
                  type="image/webp"
                />
                <img
                  loading="lazy"
                  src="img/products/1-product.png"
                  class="product-hero__image"
                  width="700"
                  height="700"
                  alt="Neumann TLM 102 BK"
                />
              </picture>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-hero__slide">
              <picture>
                <source
                  srcset="img/products/1-product.webp"
                  type="image/webp"
                />
                <img
                  loading="lazy"
                  src="img/products/1-product.png"
                  class="product-hero__image"
                  width="700"
                  height="700"
                  alt="Neumann TLM 102 BK"
                />
              </picture>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination product-hero__pag"></div>
    </div>
    <div class="product-hero__info">
      <div class="product-hero__info-left">
        <h1 class="product-hero__title">Neumann TLM 102 BK</h1>
        <div class="product-hero__prices">
          <div class="product-hero__price">91 890 ₽</div>
          <div class="product-hero__price-old">131 590 ₽</div>
        </div>
        <div class="product-hero__article">Артикул: A0235230</div>
        <div class="product-hero__description">
          <p>
            Микрофон TLM 102 представляет новое поколение студийных микрофонов
            Neumann. Несмотря на компактный размер TLM 102 объединяет в себе все
            особенности технологий Neumann. Гармоничные пропорции, классический
            дизайн и блестящее кольцо защитной решетки обязательно привлекут
            внимание.
          </p>
          <p>
            Благодаря доступной стоимости и весьма широкой области применения,
            TLM 102 идеален для применения в домашних и малобюджетных студиях,
            project-студиях, в студиях радиовещания.В комплект поставки входит
            металлический шарнирный держатель SG 2.
          </p>
        </div>
        <div class="product-hero__bottom">
          <div class="stepper product-hero__stepper">
            <button class="btn-reset stepper__minus" aria-label="Уменьшить">
              <svg class="icon">
                <use xlink:href="img/sprite.svg#minus"></use>
              </svg>
            </button>
            <input
              type="number"
              class="input-reset stepper__input"
              value="1"
              maxlength="2"
            />
            <button class="btn-reset stepper__plus" aria-label="Увеличить">
              <svg class="icon">
                <use xlink:href="img/sprite.svg#plus"></use>
              </svg>
            </button>
          </div>
          <button class="btn btn--primary product-hero__cart-btn">В корзину</button>
        </div>
      </div>
      <div class="product-hero__info-right">
        <div class="product-hero__rating">
          <div class="product-hero__rating-value">4.5</div>
          <div class="product-hero__rating-testimonials">• 5 отзывов</div>
        </div>
        <div class="product-hero__chars">
          <h2 class="product-hero__subtitle">Характеристики</h2>
          <dl class="product-hero__chars-items">
            <div class="product-hero__chars-item">
              <dt class="product-hero__chars-term">
                Диаграмма направленности:
              </dt>
              <dd class="product-hero__chars-val">кардиоида</dd>
            </div>
            <div class="product-hero__chars-item">
              <dt class="product-hero__chars-term">Тип микрофона:</dt>
              <dd class="product-hero__chars-val">конденсаторный</dd>
            </div>
            <div class="product-hero__chars-item">
              <dt class="product-hero__chars-term">Тип разъёма:</dt>
              <dd class="product-hero__chars-val">Xlr</dd>
            </div>
            <div class="product-hero__chars-item">
              <dt class="product-hero__chars-term">Размер диафрагмы:</dt>
              <dd class="product-hero__chars-val">с широкой мембраной</dd>
            </div>
            <div class="product-hero__chars-item">
              <dt class="product-hero__chars-term">Кнопка вкл/выкл:</dt>
              <dd class="product-hero__chars-val">нет</dd>
            </div>
            <div class="product-hero__chars-item">
              <dt class="product-hero__chars-term">
                Держатель Паук в комплекте:
              </dt>
              <dd class="product-hero__chars-val">да</dd>
            </div>
          </dl>
        </div>
        <div class="product-hero__btns">
          <button class="btn-reset product-hero__btn" data-tab="brand">
            О бренде
            <svg>
              <use xlink:href="img/sprite.svg#angle-right"></use>
            </svg>
          </button>
          <button class="btn-reset product-hero__btn" data-tab="equipment">
            Комплектация
            <svg>
              <use xlink:href="img/sprite.svg#angle-right"></use>
            </svg>
          </button>
          <button class="btn-reset product-hero__btn" data-tab="refund">
            Возврат
            <svg>
              <use xlink:href="img/sprite.svg#angle-right"></use>
            </svg>
          </button>
          <button class="btn-reset product-hero__btn" data-tab="delivery">
            Доставка
            <svg>
              <use xlink:href="img/sprite.svg#angle-right"></use>
            </svg>
          </button>
        </div>
        <div class="product-hero__popup" data-target="brand">
          <h2 class="product-hero__popup-title">О бренде</h2>
          <button class="btn-reset product-hero__popup-close" aria-label="Закрыть окно">
            <svg class="icon">
              <use xlink:href="img/sprite.svg#close"></use>
            </svg>
          </button>
          <div class="product-hero__popup-content" data-simplebar>
            <p>
              <b>Neumann</b> — это немецкая компания, основанная в 1928 году инженером Георгом Нойманом (Georg Neumann). Бренд стал синонимом высочайшего качества в мире профессиональной аудиотехники, особенно известен своими студийными микрофонами, которые считаются эталонными в звукозаписи.
            </p>
            <p>
              Первый легендарный микрофон Neumann — CMV 3 («бутылка Neumann») — использовался в радиовещании 1930-х. Однако настоящую славу компании принес U 47 (1949) — ламповый микрофон с переключаемой диаграммой направленности, который стал стандартом для вокала в студиях. Позже появились U 67, U 87 (1967) и KM 84 — модели, до сих пор востребованные в музыке и киноиндустрии.
            </p>
            <p>
              Сегодня Neumann, принадлежащая Sennheiser Group, выпускает:
            </p>
            <ul>
              <li>
                Студийные микрофоны (U 87 Ai, M 149, TLM 103 и др.)
              </li>
              <li>
                Мониторные студийные колонки (серия KH, например, KH 120, KH 310)
              </li>
              <li>
                Цифровые решения для записи и обработки звука.
              </li>
            </ul>
          </div>
        </div>
        <div class="product-hero__popup" data-target="equipment">
          <h2 class="product-hero__popup-title">Комплектация</h2>
          <button class="btn-reset product-hero__popup-close" aria-label="Закрыть окно">
            <svg class="icon">
              <use xlink:href="img/sprite.svg#close"></use>
            </svg>
          </button>
          <div class="product-hero__popup-content" data-simplebar>
            <p>
              <b>Neumann</b> — это немецкая компания, основанная в 1928 году инженером Георгом Нойманом (Georg Neumann). Бренд стал синонимом высочайшего качества в мире профессиональной аудиотехники, особенно известен своими студийными микрофонами, которые считаются эталонными в звукозаписи.
            </p>
            <p>
              Первый легендарный микрофон Neumann — CMV 3 («бутылка Neumann») — использовался в радиовещании 1930-х. Однако настоящую славу компании принес U 47 (1949) — ламповый микрофон с переключаемой диаграммой направленности, который стал стандартом для вокала в студиях. Позже появились U 67, U 87 (1967) и KM 84 — модели, до сих пор востребованные в музыке и киноиндустрии.
            </p>
            <p>
              <b>Neumann</b> — это немецкая компания, основанная в 1928 году инженером Георгом Нойманом (Georg Neumann). Бренд стал синонимом высочайшего качества в мире профессиональной аудиотехники, особенно известен своими студийными микрофонами, которые считаются эталонными в звукозаписи.
            </p>
            <p>
              Первый легендарный микрофон Neumann — CMV 3 («бутылка Neumann») — использовался в радиовещании 1930-х. Однако настоящую славу компании принес U 47 (1949) — ламповый микрофон с переключаемой диаграммой направленности, который стал стандартом для вокала в студиях. Позже появились U 67, U 87 (1967) и KM 84 — модели, до сих пор востребованные в музыке и киноиндустрии.
            </p>
            <p>
              <b>Neumann</b> — это немецкая компания, основанная в 1928 году инженером Георгом Нойманом (Georg Neumann). Бренд стал синонимом высочайшего качества в мире профессиональной аудиотехники, особенно известен своими студийными микрофонами, которые считаются эталонными в звукозаписи.
            </p>
            <p>
              Первый легендарный микрофон Neumann — CMV 3 («бутылка Neumann») — использовался в радиовещании 1930-х. Однако настоящую славу компании принес U 47 (1949) — ламповый микрофон с переключаемой диаграммой направленности, который стал стандартом для вокала в студиях. Позже появились U 67, U 87 (1967) и KM 84 — модели, до сих пор востребованные в музыке и киноиндустрии.
            </p>
            <p>
              Сегодня Neumann, принадлежащая Sennheiser Group, выпускает:
            </p>
            <ul>
              <li>
                Студийные микрофоны (U 87 Ai, M 149, TLM 103 и др.)
              </li>
              <li>
                Мониторные студийные колонки (серия KH, например, KH 120, KH 310)
              </li>
              <li>
                Цифровые решения для записи и обработки звука.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
