<section class="products">
  <h2 class="visually-hidden">Наши товары</h2>
  <div class="container">
    <div class="products__top">
      <ul class="list-reset products-tabs products__tabs">
        <li class="products-tabs__item">
          <button
            class="btn-reset products-tabs__btn products-tabs__btn--active"
            data-tab="hits"
          >
            Хиты продаж
            <span class="products-tabs__btn-quantity">252</span>
          </button>
        </li>
        <li class="products-tabs__item">
          <button class="btn-reset products-tabs__btn" data-tab="new">
            Новинки
            <span class="products-tabs__btn-quantity">252</span>
          </button>
        </li>
        <li class="products-tabs__item">
          <button class="btn-reset products-tabs__btn" data-tab="sale">
            Распродажа
            <span class="products-tabs__btn-quantity">252</span>
          </button>
        </li>
      </ul>
      <div class="products__all-btn">
        <a href="catalog.html" class="btn btn--quinary products__btn"
          >Смотреть все товары</a
        >
      </div>
    </div>
    <div class="products__inner products__inner--active" data-target="hits">
      <div class="products__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <article class="product">
              <div class="product__top">
                <button
                  class="btn-reset product__fav"
                  aria-label="Добавить в избранное"
                >
                  <svg class="icon">
                    <use xlink:href="img/sprite.svg#fav"></use>
                  </svg>
                </button>
                <div class="product__badges">
                  <span class="badge">Хит продаж</span>
                  <span class="badge">Новинка</span>
                </div>
                <picture>
                  <source srcset="img/products/1-main.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/products/1-main.png"
                    class="product__pic"
                    width="320"
                    height="320"
                    alt="AT-LPW40WN"
                  />
                </picture>
              </div>
              <div class="product__bottom">
                <a href="#" class="product__brand">Audio-Technica</a>
                <h3 class="product__title">
                  <a href="#" class="product__link"> AT-LPW40WN </a>
                </h3>
                <div class="product__price">110 000 ₽</div>
                <button class="btn btn--primary product__btn">В корзину</button>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="product">
              <div class="product__top">
                <button
                  class="btn-reset product__fav"
                  aria-label="Добавить в избранное"
                >
                  <svg class="icon">
                    <use xlink:href="img/sprite.svg#fav"></use>
                  </svg>
                </button>
                <div class="product__badges">
                  <span class="badge">Хит продаж</span>
                  <span class="badge">Новинка</span>
                </div>
                <picture>
                  <source srcset="img/products/1-main.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/products/1-main.png"
                    class="product__pic"
                    width="320"
                    height="320"
                    alt="AT-LPW40WN"
                  />
                </picture>
              </div>
              <div class="product__bottom">
                <a href="#" class="product__brand">Audio-Technica</a>
                <h3 class="product__title">
                  <a href="#" class="product__link"> AT-LPW40WN </a>
                </h3>
                <div class="product__price">110 000 ₽</div>
                <button class="btn btn--primary product__btn">В корзину</button>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="product">
              <div class="product__top">
                <button
                  class="btn-reset product__fav"
                  aria-label="Добавить в избранное"
                >
                  <svg class="icon">
                    <use xlink:href="img/sprite.svg#fav"></use>
                  </svg>
                </button>
                <div class="product__badges">
                  <span class="badge">Хит продаж</span>
                  <span class="badge">Новинка</span>
                </div>
                <picture>
                  <source srcset="img/products/1-main.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/products/1-main.png"
                    class="product__pic"
                    width="320"
                    height="320"
                    alt="AT-LPW40WN"
                  />
                </picture>
              </div>
              <div class="product__bottom">
                <a href="#" class="product__brand">Audio-Technica</a>
                <h3 class="product__title">
                  <a href="#" class="product__link"> AT-LPW40WN </a>
                </h3>
                <div class="product__price">110 000 ₽</div>
                <button class="btn btn--primary product__btn">В корзину</button>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="product">
              <div class="product__top">
                <button
                  class="btn-reset product__fav"
                  aria-label="Добавить в избранное"
                >
                  <svg class="icon">
                    <use xlink:href="img/sprite.svg#fav"></use>
                  </svg>
                </button>
                <div class="product__badges">
                  <span class="badge">Хит продаж</span>
                  <span class="badge">Новинка</span>
                </div>
                <picture>
                  <source srcset="img/products/1-main.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/products/1-main.png"
                    class="product__pic"
                    width="320"
                    height="320"
                    alt="AT-LPW40WN"
                  />
                </picture>
              </div>
              <div class="product__bottom">
                <a href="#" class="product__brand">Audio-Technica</a>
                <h3 class="product__title">
                  <a href="#" class="product__link"> AT-LPW40WN </a>
                </h3>
                <div class="product__price">110 000 ₽</div>
                <button class="btn btn--primary product__btn">В корзину</button>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="product">
              <div class="product__top">
                <button
                  class="btn-reset product__fav"
                  aria-label="Добавить в избранное"
                >
                  <svg class="icon">
                    <use xlink:href="img/sprite.svg#fav"></use>
                  </svg>
                </button>
                <div class="product__badges">
                  <span class="badge">Хит продаж</span>
                  <span class="badge">Новинка</span>
                </div>
                <picture>
                  <source srcset="img/products/1-main.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/products/1-main.png"
                    class="product__pic"
                    width="320"
                    height="320"
                    alt="AT-LPW40WN"
                  />
                </picture>
              </div>
              <div class="product__bottom">
                <a href="#" class="product__brand">Audio-Technica</a>
                <h3 class="product__title">
                  <a href="#" class="product__link"> AT-LPW40WN </a>
                </h3>
                <div class="product__price">110 000 ₽</div>
                <button class="btn btn--primary product__btn">В корзину</button>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="products__nav">
        <div class="products__scrollbar swiper-scrollbar"></div>
        <button
          class="btn-reset products__slider-btn products__slider-btn--prev"
        >
          Назад
        </button>
        <button
          class="btn-reset products__slider-btn products__slider-btn--next"
        >
          Вперед
        </button>
      </div>
    </div>
    <div class="products__inner" data-target="new">
      <div class="products__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <article class="product">
              <div class="product__top">
                <button
                  class="btn-reset product__fav"
                  aria-label="Добавить в избранное"
                >
                  <svg class="icon">
                    <use xlink:href="img/sprite.svg#fav"></use>
                  </svg>
                </button>
                <div class="product__badges">
                  <span class="badge">Хит продаж</span>
                  <span class="badge">Новинка</span>
                </div>
                <picture>
                  <source srcset="img/products/1-main.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/products/1-main.png"
                    class="product__pic"
                    width="320"
                    height="320"
                    alt="AT-LPW40WN"
                  />
                </picture>
              </div>
              <div class="product__bottom">
                <a href="#" class="product__brand">Audio-Technica</a>
                <h3 class="product__title">
                  <a href="#" class="product__link"> AT-LPW40WN </a>
                </h3>
                <div class="product__price">110 000 ₽</div>
                <button class="btn btn--primary product__btn">В корзину</button>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="product">
              <div class="product__top">
                <button
                  class="btn-reset product__fav"
                  aria-label="Добавить в избранное"
                >
                  <svg class="icon">
                    <use xlink:href="img/sprite.svg#fav"></use>
                  </svg>
                </button>
                <div class="product__badges">
                  <span class="badge">Хит продаж</span>
                  <span class="badge">Новинка</span>
                </div>
                <picture>
                  <source srcset="img/products/1-main.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/products/1-main.png"
                    class="product__pic"
                    width="320"
                    height="320"
                    alt="AT-LPW40WN"
                  />
                </picture>
              </div>
              <div class="product__bottom">
                <a href="#" class="product__brand">Audio-Technica</a>
                <h3 class="product__title">
                  <a href="#" class="product__link"> AT-LPW40WN </a>
                </h3>
                <div class="product__price">110 000 ₽</div>
                <button class="btn btn--primary product__btn">В корзину</button>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="product">
              <div class="product__top">
                <button
                  class="btn-reset product__fav"
                  aria-label="Добавить в избранное"
                >
                  <svg class="icon">
                    <use xlink:href="img/sprite.svg#fav"></use>
                  </svg>
                </button>
                <div class="product__badges">
                  <span class="badge">Хит продаж</span>
                  <span class="badge">Новинка</span>
                </div>
                <picture>
                  <source srcset="img/products/1-main.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/products/1-main.png"
                    class="product__pic"
                    width="320"
                    height="320"
                    alt="AT-LPW40WN"
                  />
                </picture>
              </div>
              <div class="product__bottom">
                <a href="#" class="product__brand">Audio-Technica</a>
                <h3 class="product__title">
                  <a href="#" class="product__link"> AT-LPW40WN </a>
                </h3>
                <div class="product__price">110 000 ₽</div>
                <button class="btn btn--primary product__btn">В корзину</button>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="product">
              <div class="product__top">
                <button
                  class="btn-reset product__fav"
                  aria-label="Добавить в избранное"
                >
                  <svg class="icon">
                    <use xlink:href="img/sprite.svg#fav"></use>
                  </svg>
                </button>
                <div class="product__badges">
                  <span class="badge">Хит продаж</span>
                  <span class="badge">Новинка</span>
                </div>
                <picture>
                  <source srcset="img/products/1-main.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/products/1-main.png"
                    class="product__pic"
                    width="320"
                    height="320"
                    alt="AT-LPW40WN"
                  />
                </picture>
              </div>
              <div class="product__bottom">
                <a href="#" class="product__brand">Audio-Technica</a>
                <h3 class="product__title">
                  <a href="#" class="product__link"> AT-LPW40WN </a>
                </h3>
                <div class="product__price">110 000 ₽</div>
                <button class="btn btn--primary product__btn">В корзину</button>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="product">
              <div class="product__top">
                <button
                  class="btn-reset product__fav"
                  aria-label="Добавить в избранное"
                >
                  <svg class="icon">
                    <use xlink:href="img/sprite.svg#fav"></use>
                  </svg>
                </button>
                <div class="product__badges">
                  <span class="badge">Хит продаж</span>
                  <span class="badge">Новинка</span>
                </div>
                <picture>
                  <source srcset="img/products/1-main.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/products/1-main.png"
                    class="product__pic"
                    width="320"
                    height="320"
                    alt="AT-LPW40WN"
                  />
                </picture>
              </div>
              <div class="product__bottom">
                <a href="#" class="product__brand">Audio-Technica</a>
                <h3 class="product__title">
                  <a href="#" class="product__link"> AT-LPW40WN </a>
                </h3>
                <div class="product__price">110 000 ₽</div>
                <button class="btn btn--primary product__btn">В корзину</button>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="products__nav">
        <div class="products__scrollbar swiper-scrollbar"></div>
        <button
          class="btn-reset products__slider-btn products__slider-btn--prev"
        >
          Назад
        </button>
        <button
          class="btn-reset products__slider-btn products__slider-btn--next"
        >
          Вперед
        </button>
      </div>
    </div>
    <div class="products__inner" data-target="sale">
      <div class="products__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <article class="product">
              <div class="product__top">
                <button
                  class="btn-reset product__fav"
                  aria-label="Добавить в избранное"
                >
                  <svg class="icon">
                    <use xlink:href="img/sprite.svg#fav"></use>
                  </svg>
                </button>
                <div class="product__badges">
                  <span class="badge">Хит продаж</span>
                  <span class="badge">Новинка</span>
                </div>
                <picture>
                  <source srcset="img/products/1-main.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/products/1-main.png"
                    class="product__pic"
                    width="320"
                    height="320"
                    alt="AT-LPW40WN"
                  />
                </picture>
              </div>
              <div class="product__bottom">
                <a href="#" class="product__brand">Audio-Technica</a>
                <h3 class="product__title">
                  <a href="#" class="product__link"> AT-LPW40WN </a>
                </h3>
                <div class="product__price">110 000 ₽</div>
                <button class="btn btn--primary product__btn">В корзину</button>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="product">
              <div class="product__top">
                <button
                  class="btn-reset product__fav"
                  aria-label="Добавить в избранное"
                >
                  <svg class="icon">
                    <use xlink:href="img/sprite.svg#fav"></use>
                  </svg>
                </button>
                <div class="product__badges">
                  <span class="badge">Хит продаж</span>
                  <span class="badge">Новинка</span>
                </div>
                <picture>
                  <source srcset="img/products/1-main.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/products/1-main.png"
                    class="product__pic"
                    width="320"
                    height="320"
                    alt="AT-LPW40WN"
                  />
                </picture>
              </div>
              <div class="product__bottom">
                <a href="#" class="product__brand">Audio-Technica</a>
                <h3 class="product__title">
                  <a href="#" class="product__link"> AT-LPW40WN </a>
                </h3>
                <div class="product__price">110 000 ₽</div>
                <button class="btn btn--primary product__btn">В корзину</button>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="product">
              <div class="product__top">
                <button
                  class="btn-reset product__fav"
                  aria-label="Добавить в избранное"
                >
                  <svg class="icon">
                    <use xlink:href="img/sprite.svg#fav"></use>
                  </svg>
                </button>
                <div class="product__badges">
                  <span class="badge">Хит продаж</span>
                  <span class="badge">Новинка</span>
                </div>
                <picture>
                  <source srcset="img/products/1-main.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/products/1-main.png"
                    class="product__pic"
                    width="320"
                    height="320"
                    alt="AT-LPW40WN"
                  />
                </picture>
              </div>
              <div class="product__bottom">
                <a href="#" class="product__brand">Audio-Technica</a>
                <h3 class="product__title">
                  <a href="#" class="product__link"> AT-LPW40WN </a>
                </h3>
                <div class="product__price">110 000 ₽</div>
                <button class="btn btn--primary product__btn">В корзину</button>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="product">
              <div class="product__top">
                <button
                  class="btn-reset product__fav"
                  aria-label="Добавить в избранное"
                >
                  <svg class="icon">
                    <use xlink:href="img/sprite.svg#fav"></use>
                  </svg>
                </button>
                <div class="product__badges">
                  <span class="badge">Хит продаж</span>
                  <span class="badge">Новинка</span>
                </div>
                <picture>
                  <source srcset="img/products/1-main.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/products/1-main.png"
                    class="product__pic"
                    width="320"
                    height="320"
                    alt="AT-LPW40WN"
                  />
                </picture>
              </div>
              <div class="product__bottom">
                <a href="#" class="product__brand">Audio-Technica</a>
                <h3 class="product__title">
                  <a href="#" class="product__link"> AT-LPW40WN </a>
                </h3>
                <div class="product__price">110 000 ₽</div>
                <button class="btn btn--primary product__btn">В корзину</button>
              </div>
            </article>
          </div>
          <div class="swiper-slide">
            <article class="product">
              <div class="product__top">
                <button
                  class="btn-reset product__fav"
                  aria-label="Добавить в избранное"
                >
                  <svg class="icon">
                    <use xlink:href="img/sprite.svg#fav"></use>
                  </svg>
                </button>
                <div class="product__badges">
                  <span class="badge">Хит продаж</span>
                  <span class="badge">Новинка</span>
                </div>
                <picture>
                  <source srcset="img/products/1-main.webp" type="image/webp" />
                  <img
                    loading="lazy"
                    src="img/products/1-main.png"
                    class="product__pic"
                    width="320"
                    height="320"
                    alt="AT-LPW40WN"
                  />
                </picture>
              </div>
              <div class="product__bottom">
                <a href="#" class="product__brand">Audio-Technica</a>
                <h3 class="product__title">
                  <a href="#" class="product__link"> AT-LPW40WN </a>
                </h3>
                <div class="product__price">110 000 ₽</div>
                <button class="btn btn--primary product__btn">В корзину</button>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div class="products__nav">
        <div class="products__scrollbar swiper-scrollbar"></div>
        <button
          class="btn-reset products__slider-btn products__slider-btn--prev"
        >
          Назад
        </button>
        <button
          class="btn-reset products__slider-btn products__slider-btn--next"
        >
          Вперед
        </button>
      </div>
    </div>
    <div class="products__all-btn-mob">
      <a href="catalog.html" class="btn btn--quinary products__btn"
          >Смотреть все товары</a
        >
    </div>
  </div>
</section>
