<section class="product-similar">
  <div class="container">
    <h2 class="product-similar__title">Похожие товары</h2>
    <div class="product-similar__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <article class="product">
            <div class="product__top">
              <button
                class="btn-reset product__fav"
                aria-label="Добавить в избранное"
              >
                <svg class="icon">
                  <use xlink:href="img/sprite.svg#fav"></use>
                </svg>
              </button>
              <div class="product__badges">
                <span class="badge">Хит продаж</span>
                <span class="badge">Новинка</span>
              </div>
              <picture>
                <source srcset="img/products/1-main.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/products/1-main.png"
                  class="product__pic"
                  width="320"
                  height="320"
                  alt="AT-LPW40WN"
                />
              </picture>
            </div>
            <div class="product__bottom">
              <a href="#" class="product__brand">Audio-Technica</a>
              <h3 class="product__title">
                <a href="#" class="product__link"> AT-LPW40WN </a>
              </h3>
              <div class="product__price">110 000 ₽</div>
              <button class="btn btn--primary product__btn">В корзину</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="product">
            <div class="product__top">
              <button
                class="btn-reset product__fav"
                aria-label="Добавить в избранное"
              >
                <svg class="icon">
                  <use xlink:href="img/sprite.svg#fav"></use>
                </svg>
              </button>
              <div class="product__badges">
                <span class="badge">Хит продаж</span>
                <span class="badge">Новинка</span>
              </div>
              <picture>
                <source srcset="img/products/1-main.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/products/1-main.png"
                  class="product__pic"
                  width="320"
                  height="320"
                  alt="AT-LPW40WN"
                />
              </picture>
            </div>
            <div class="product__bottom">
              <a href="#" class="product__brand">Audio-Technica</a>
              <h3 class="product__title">
                <a href="#" class="product__link"> AT-LPW40WN </a>
              </h3>
              <div class="product__price">110 000 ₽</div>
              <button class="btn btn--primary product__btn">В корзину</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="product">
            <div class="product__top">
              <button
                class="btn-reset product__fav"
                aria-label="Добавить в избранное"
              >
                <svg class="icon">
                  <use xlink:href="img/sprite.svg#fav"></use>
                </svg>
              </button>
              <div class="product__badges">
                <span class="badge">Хит продаж</span>
                <span class="badge">Новинка</span>
              </div>
              <picture>
                <source srcset="img/products/1-main.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/products/1-main.png"
                  class="product__pic"
                  width="320"
                  height="320"
                  alt="AT-LPW40WN"
                />
              </picture>
            </div>
            <div class="product__bottom">
              <a href="#" class="product__brand">Audio-Technica</a>
              <h3 class="product__title">
                <a href="#" class="product__link"> AT-LPW40WN </a>
              </h3>
              <div class="product__price">110 000 ₽</div>
              <button class="btn btn--primary product__btn">В корзину</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="product">
            <div class="product__top">
              <button
                class="btn-reset product__fav"
                aria-label="Добавить в избранное"
              >
                <svg class="icon">
                  <use xlink:href="img/sprite.svg#fav"></use>
                </svg>
              </button>
              <div class="product__badges">
                <span class="badge">Хит продаж</span>
                <span class="badge">Новинка</span>
              </div>
              <picture>
                <source srcset="img/products/1-main.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/products/1-main.png"
                  class="product__pic"
                  width="320"
                  height="320"
                  alt="AT-LPW40WN"
                />
              </picture>
            </div>
            <div class="product__bottom">
              <a href="#" class="product__brand">Audio-Technica</a>
              <h3 class="product__title">
                <a href="#" class="product__link"> AT-LPW40WN </a>
              </h3>
              <div class="product__price">110 000 ₽</div>
              <button class="btn btn--primary product__btn">В корзину</button>
            </div>
          </article>
        </div>
        <div class="swiper-slide">
          <article class="product">
            <div class="product__top">
              <button
                class="btn-reset product__fav"
                aria-label="Добавить в избранное"
              >
                <svg class="icon">
                  <use xlink:href="img/sprite.svg#fav"></use>
                </svg>
              </button>
              <div class="product__badges">
                <span class="badge">Хит продаж</span>
                <span class="badge">Новинка</span>
              </div>
              <picture>
                <source srcset="img/products/1-main.webp" type="image/webp" />
                <img
                  loading="lazy"
                  src="img/products/1-main.png"
                  class="product__pic"
                  width="320"
                  height="320"
                  alt="AT-LPW40WN"
                />
              </picture>
            </div>
            <div class="product__bottom">
              <a href="#" class="product__brand">Audio-Technica</a>
              <h3 class="product__title">
                <a href="#" class="product__link"> AT-LPW40WN </a>
              </h3>
              <div class="product__price">110 000 ₽</div>
              <button class="btn btn--primary product__btn">В корзину</button>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div class="product-similar__nav">
      <div class="product-similar__scrollbar swiper-scrollbar"></div>
      <button class="btn-reset product-similar__slider-btn product-similar__slider-btn--prev">
        Назад
      </button>
      <button class="btn-reset product-similar__slider-btn product-similar__slider-btn--next">
        Вперед
      </button>
    </div>
  </div>
</section>
