<section class="product-testimonials">
  <div class="container">
    <div class="product-testimonials__content grid">
      <div class="product-testimonials__left">
        <div class="product-testimonials__rating">
          <div class="product-testimonials__rating-value">4.5</div>
          <div class="product-testimonials__rating-testimonials">
            • 5 отзывов
          </div>
        </div>
        <div class="product-testimonials__rating-bars" data-max-reviews="500">
          <div class="product-testimonials__rating-item">
            5 звезд
            <div class="product-testimonials__rating-bar" data-value="400">
              <div class="product-testimonials__rating-value-bar"></div>
            </div>
          </div>
          <div class="product-testimonials__rating-item">
            4 звезды
            <div class="product-testimonials__rating-bar" data-value="200">
              <div class="product-testimonials__rating-value-bar"></div>
            </div>
          </div>
          <div class="product-testimonials__rating-item">
            3 звезды
            <div class="product-testimonials__rating-bar" data-value="100">
              <div class="product-testimonials__rating-value-bar"></div>
            </div>
          </div>
          <div class="product-testimonials__rating-item">
            2 звезды
            <div class="product-testimonials__rating-bar" data-value="50">
              <div class="product-testimonials__rating-value-bar"></div>
            </div>
          </div>
          <div class="product-testimonials__rating-item">
            1 звезда
            <div class="product-testimonials__rating-bar" data-value="50">
              <div class="product-testimonials__rating-value-bar"></div>
            </div>
          </div>
        </div>
        <button class="btn btn--secondary product-testimonials__add">Оставить отзыв</button>
      </div>
      <div class="product-testimonials__right">
        <h2 class="product-testimonials__title">Отзывы о товаре</h2>
        <div class="product-testimonials__items">
          <article class="product-testimonial">
            <div class="product-testimonial__content">
              <div class="product-testimonial__rating">
                <img
                  src="img/rating-star.svg"
                  class="product-testimonial__rating-icon"
                  alt="Рейтинг товара 5 из 5"
                />
                <img
                  src="img/rating-star.svg"
                  class="product-testimonial__rating-icon"
                  alt=""
                />
                <img
                  src="img/rating-star.svg"
                  class="product-testimonial__rating-icon"
                  alt=""
                />
                <img
                  src="img/rating-star.svg"
                  class="product-testimonial__rating-icon"
                  alt=""
                />
                <img
                  src="img/rating-star.svg"
                  class="product-testimonial__rating-icon"
                  alt=""
                />
                5.0
              </div>
              <div class="product-testimonial__top">
                <div class="product-testimonial__name">
                  Constantine Trofimov
                </div>
                <time datetime="2025-05-16" class="product-testimonial__time"
                  >16 мая</time
                >
              </div>
              <div class="product-testimonial__inner">
                <p class="product-testimonial__text">
                  <b>Достоинства:</b> качественный звук. очень качественный.
                </p>
                <p class="product-testimonial__text">
                  <b>Недостатки:</b> мне показалось немножко тиховатым. мне
                  чуть-чуть не хватило громкости.
                </p>
                <p class="product-testimonial__text">
                  <b>Комментарий:</b> используя его в тандеме с микшрным
                  пультом, который также является звуковой картой. подключаю
                  через XLR. на самом пульте усиления 54 децибелла максимум.
                  приходится выкручивать на полную. чтобы была комфортная
                  громкость. но все-таки это не конденсаторный микрофон. в
                  принципе микрофон крайне чувствительный, то есть даже если я
                  оставлю его далеко от своего рта. все равно очень достойно
                  слышно. может быть, излишняя тихость-это мое субъективное
                  восприятиено в любом случае я его вытягиваю в редакторе.за
                  свои деньги к нему никаких вопросов. супер.
                </p>
              </div>
            </div>
            <div class="product-testimonial__benefits">
              <h3 class="product-testimonial__title">Преимущества</h3>
              <div class="product-testimonial__badges">
                <span class="product-testimonial__badge">Качество звука</span>
                <span class="product-testimonial__badge">Разъемы</span>
                <span class="product-testimonial__badge">Долговечность</span>
              </div>
            </div>
          </article>
          <article class="product-testimonial">
            <div class="product-testimonial__content">
              <div class="product-testimonial__rating">
                <img
                  src="img/rating-star.svg"
                  class="product-testimonial__rating-icon"
                  alt="Рейтинг товара 5 из 5"
                />
                <img
                  src="img/rating-star.svg"
                  class="product-testimonial__rating-icon"
                  alt=""
                />
                <img
                  src="img/rating-star.svg"
                  class="product-testimonial__rating-icon"
                  alt=""
                />
                <img
                  src="img/rating-star.svg"
                  class="product-testimonial__rating-icon"
                  alt=""
                />
                <img
                  src="img/rating-star.svg"
                  class="product-testimonial__rating-icon"
                  alt=""
                />
                5.0
              </div>
              <div class="product-testimonial__top">
                <div class="product-testimonial__name">Максим Б.</div>
                <time datetime="2024-07-01" class="product-testimonial__time"
                  >1 июля 2024</time
                >
              </div>
              <div class="product-testimonial__inner">
                <p class="product-testimonial__text">
                  <b>Достоинства:</b> Последняя партия; Достаточно хорошая
                  запись звука с коробки. Есть конечно у Fifine уже более новые
                  модели динамических микрофонов, но и этот всё ещё достаточно
                  качественный продукт.
                </p>
                <p class="product-testimonial__text">
                  <b>Недостатки:</b> На данный момент не обнаружены.
                </p>
                <p class="product-testimonial__text">
                  <b>Комментарий:</b> Покупал данный микрофон исключительно по
                  отзыву другого покупателя, который рассказал о самой первой
                  партии данного микрофона, которая с коробки была не такой
                  качественной. Конкретно тут последняя партия (я думаю, что это
                  будет важно покупателям данного микрофона). Он же рассказал
                  как настроить и предоставил подробную инструкцию по нему, что
                  меня и зацепило, однако данные настройки не совсем уж хорошо
                  подходят под новую партию, но меня, как человека, который
                  купил микрофон для того, чтобы просто хорошо было слышно на
                  трансляциях - данный микрофон более чем устраивает даже из
                  коробки, а если он попадёт в руки более опытного пользователя,
                  которые умеет в настройку записи микрофона, то я думаю, что он
                  заиграет ещё лучшими красками.
                </p>
              </div>
            </div>
            <div class="product-testimonial__benefits">
              <h3 class="product-testimonial__title">Преимущества</h3>
              <div class="product-testimonial__badges">
                <span class="product-testimonial__badge">Качество звука</span>
                <span class="product-testimonial__badge">Разъемы</span>
                <span class="product-testimonial__badge">Долговечность</span>
              </div>
            </div>
          </article>
        </div>
        <ul class="list-reset catalog__pagination pagination">
          <li class="pagination__item">
            <button class="btn-reset pagination__btn pagination__prev">
              Назад
            </button>
          </li>
          <li class="pagination__item">
            <button class="btn-reset pagination__btn pagination__btn--active">
              1
            </button>
          </li>
          <li class="pagination__item">
            <button class="btn-reset pagination__btn">2</button>
          </li>
          <li class="pagination__item">
            <button class="btn-reset pagination__btn">3</button>
          </li>
          <li class="pagination__item">
            <button class="btn-reset pagination__btn">4</button>
          </li>
          <li class="pagination__item">
            <button class="btn-reset pagination__btn">5</button>
          </li>
          <li class="pagination__item">
            <button class="btn-reset pagination__btn pagination__next">
              Вперед
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
