<section class="subscribe">
  <div class="container">
    <div class="subscribe__content">
      <h2 class="subscribe__title">
        Подписка на рассылку
      </h2>
      <p class="subscribe__descr">
        Мы будем присылать вам обзоры аппаратуры, промокоды и интересные новости
      </p>
      <form action="#" class="subscribe__form">
        <label class="subscribe__label">
          <input type="email" name="email" placeholder="Ваш E-mail" class="small-input subscribe__input">
        </label>
        <button class="btn btn--primary subscribe__btn" type="submit">Подписаться</button>
      </form>
    </div>
  </div>
</section>
